<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Chivo|Courgette|Cousine&display=swap" rel="stylesheet">
    <title>DemAL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/authstyle.css">
    
</head>
    
<body>
    
    <header class="head">
         <div class="container-fluid">
             <div class="container">
                <div class="header__inner">
                    <div class="">
                        <div class="row py-3">
                            <p class="intro_logo">DemAl</p>
                            <nav class="nav">
                            <a class="nav__link" href="#">EVENTS</a>
                            <a class="nav__link" href="#">ABOUT US</a>
                            <a class="nav__link" href="#"> <img src="assets/logos/SigninWhite.svg"></a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
	
	<div align="center" class="sign_in">
		<div class="sign_in_pic">
			<img height="600px" width="450px" src="assets/images/Rectangle 26.jpg">
			<p class="sign_in_logo">DemAL</p>
		</div>
		<button>Sign up</button>
		<h2>Sign in</h2>
		<form align="left">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		    </div>
		    <div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		    </div>
		    <div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Check me out</label>
		    </div>
		    <button type="submit" class="btn btn-primary">Sign in</button>
		</form>
	</div>
	
	<footer class="foot">
  <div class="container-fluid">
    <div class="">
      <div class="row py-3">
        <div class="col-md-4">
          <p class="text-white1">Copyright © 2019 DemAl Kazakhstan.<br><br><br>
              All rights reserved.</p>
        </div>
          <div class="row col-md-4 justify-content-center align-items-centeralign-items-center">
              <p class="autro__logo">DemAl</p>
          </div>
        <div class="row col-md-4 justify-content-end">
          <div class="d-inline-block">
            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.facebook.com/" class="text-white"><img src="assets/logos/facebook.svg"><i class="fa fa-2x fa-fw fa-facebook"></i>
		</a>
              </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://instagram.com/" class="text-white"><img src="assets/logos/insta.svg">
                <i class="fa fa-2x fa-fw fa-twitter"></i></a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.telegram.com/" class="text-white"><img src="assets/logos/telegram.svg">
                <i class="fa fa-2x fa-fw fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	</html>