<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Chivo|Courgette|Cousine&display=swap" rel="stylesheet">
    <title>DemAL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/eventDecsstyle.css">
    
</head>
    
<body>
    
    <header class="head">
         <div class="container-fluid">
             <div class="container">
                <div class="header__inner">
                    <div class="">
                        <div class="row py-3">
                            <p class="intro_logo">DemAl</p>
                            <nav class="nav">
                            <a class="nav__link" href="#">EVENTS</a>
                            <a class="nav__link" href="#">ABOUT US</a>
                            <a class="nav__link" href="#"> <img src="assets/logos/SigninWhite.svg"></a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
   
   <div>
		<img src="assets/images/Rectangle%2033.png" width="100%">
    </div>
    <div align="center" class="backgroundTitle">
		<div class="line1">
		</div>
		<div class="line2">
		</div>
		<img src="assets/images/Rectangle%208.png">
		<div class="backgroundTitle_text">
			<h1>MyaGi & Andy Panda</h1>
			<h3>27 NOVEMBER, 21:00</h3>
			<h4>Lorem ipsum dolor sit amet, 
			consectetur adipiscing elit.  <br>
			Mi sed felis vel duis. 
			Velit felis quam enim,  
			nulla adipiscing amet tortor.
			Interdum faucibus dui amet, orci fusce sit nullam consequat id. <br>
			Dolor suscipit nulla feugiat lorem proin sed neque tristique nunc. 
			Diam sollicitudin cras nunc lectus vitae id hendrerit in. <br>
			Amet, lacus leo nunc quisque vel. In sociis in mi, et dolor.  
			Donec feugiat eget nascetur nibh hendrerit felis.  
			Sed lectus morbi tortor at facilisis.</h4>
			<button>BUY TICKET</button>
		</div>
    </div>
	
	
	<footer class="foot">
  <div class="container-fluid">
    <div class="">
      <div class="row py-3">
        <div class="col-md-4">
          <p class="text-white1">Copyright © 2019 DemAl Kazakhstan.<br><br><br>
              All rights reserved.</p>
        </div>
          <div class="row col-md-4 justify-content-center align-items-centeralign-items-center">
              <p class="autro__logo">DemAl</p>
          </div>
        <div class="row col-md-4 justify-content-end">
          <div class="d-inline-block">
            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.facebook.com/" class="text-white"><img src="assets/logos/facebook.svg"><i class="fa fa-2x fa-fw fa-facebook"></i>
		</a>
              </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://instagram.com/" class="text-white"><img src="assets/logos/insta.svg">
                <i class="fa fa-2x fa-fw fa-twitter"></i></a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.telegram.com/" class="text-white"><img src="assets/logos/telegram.svg">
                <i class="fa fa-2x fa-fw fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</html>